<!DOCTYPE html>
<html>
<head>
    <title>Recipe Website - Edit Recipe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='/Images/Recipe_Cooking.png') }}" type="image/png">
</head>
<body>
    <div class="container">
        <h1>Edit Recipe</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <hr>
        <form action="{{ url_for('update_recipe', recipe_id=recipe['id']) }}" method="POST">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ recipe['title'] }}" required>
            </div>
            <div class="form-group">
                <label for="cuisine">Cuisine:</label>
                <input type="text" class="form-control" id="cuisine" name="cuisine" value="{{ recipe['cuisine'] }}" required>
            </div>
            <div class="form-group">
                <label for="ingredients">Ingredients:</label>
                <textarea class="form-control" id="ingredients" name="ingredients" rows="3" required>{{ recipe['ingredients'] }}</textarea>
            </div>
            <div class="form-group">
                <label for="instructions">Instructions:</label>
                <textarea class="form-control" id="instructions" name="instructions" rows="3" required>{{ recipe['instructions'] }}</textarea>
            </div>
            <div class="form-group">
                <label for="cookingtime">Cooking Time:</label>
                <input type="text" class="form-control" id="cookingtime" name="cookingtime" value="{{ recipe['cookingtime'] }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Update Recipe</button>
        </form>
    </div>
</body>
</html>
