<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/main.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/cuisine.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/slick/slick.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/slick/slick-theme.css') }}">
      <link rel="icon" href="{{ url_for('static', filename='/Images/Recipe_Cooking.png') }}" type="image/png">
  </head>
  <script>
    /*LOADING LOGO */
window.addEventListener("load", function () {

const loader = document.querySelector(".loader");

setTimeout(() => {

loader.classList.add("hide");

document.querySelector(".content").style.display = "block";

},850);

});
</script>
    <header>
      <div class="page-header" >
        <div class="title">
            <p> <b>Authentic Food Receipe Website </b></p>
        </div>
        <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
            <i class="fa fa-bars"></i>
        </a>
        <div class="socialtop">
        <div id="navigation-bar" class="nav-bar">
            <a href="{{ url_for('home') }}"><b> Home </b></a>
            <div class="dropdown">
                <a class="active" href="{{ url_for('cuisines') }}" class="dropbtn"><b> Cuisines </b> <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                  <a class="active" href="{{ url_for('indiancuisines') }}">Indian</a>
                  <a href="{{ url_for('mexicancuisines') }}">Mexican</a>
                  <a href="{{ url_for('italiancuisines') }}">Italian</a>
                  <a class="active" href="{{ url_for('chinesecuisines') }}">Chinese</a>
                  <a href="{{ url_for('japanesecuisines') }}">Japanese</a>
                  <a href="{{ url_for('thaicuisines') }}">Thai</a>
                  <a href="{{ url_for('greekcuisines') }}">Greek</a>
                </div>
              </div>
              <div class="dropdown">
                <a href="{{ url_for('dessertsmain') }}" class="dropbtn"><b> Desserts </b> <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="{{ url_for('indiandesserts') }}">Indian</a>
                    <a href="{{ url_for('italiandesserts') }}">Italian</a>
                    <a href="{{ url_for('thaidesserts') }}">Thai</a>
                    <a href="{{ url_for('mexicandesserts') }}">Mexican</a>
                </div>
              </div>
            <a href="{{ url_for('aboutus') }}"><b> About Us </b></a>
            <a href="{{ url_for('contact') }}"><b> Contact Us </b></a>
            <a href="{{ url_for('search') }}"><b> Search </b></a>
            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
            <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
        </div>         
        </div>
    </div>
    <script src="{{ url_for('static', filename='Javascript/index.js') }}"></script>
    </header>
    <title>Chinese Cuisine KungPao Chicken</title>
    <style>
      .slick-dots {
        margin-top: 2rem;
        margin-left: -3rem;
        }

        .slick-dots li button:before {
         color: #ff0000; /* Replace with your desired color */
            }

        /* Change the active dot color */
        .slick-dots li.slick-active button:before {
        color: #ffff; /* Replace with your desired color */
        }
        @media screen and (max-width: 850px) {
          .slick-dots {
        margin-top: 2rem;
        margin-left: 0rem;
        }
        }
    </style>
        <body>
          <div class="loader">
            <img src="{{ url_for('static', filename='Images/giphy.gif') }}" alt="loading" />    
         </div>
          <br><h2>Chinese Cuisine</h2><br>
          <h3>KungPao Chicken Authentic Recipe is here</h3>      
          <section class="vertical-center slider">
            <div>
              <img src="{{ url_for('static', filename='Images/KungPao Chicken.jpg') }}" height="350px" width="600px">
            </div>
            <div>
              <img src="{{ url_for('static', filename='Images/Chinese-Kung-Pao-Chicken.jpg') }}" height="350px" width="600px">
            </div>
            <div>
              <img src="{{ url_for('static', filename='Images/Chinese-KungPao2.jpg') }}" height="350px" width="600px">
            </div>
            </section>          
          <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
          <script src="{{ url_for('static', filename='slick/slick.js') }}"></script>
          <script src="{{ url_for('static', filename='Javascript/cuisine.js') }}"></script>
            <div class="container1">
            <div class="cont">
              <h3>Ingredients required:</h3><br>
              <ul>
                <li>2 boneless, skinless chicken breasts, cut into small pieces</li>
                <li>1/2 cup roasted peanuts</li>
                <li>4-5 dried red chili peppers</li>
                <li>2 cloves garlic, minced</li>
                <li>1 teaspoon grated ginger</li>
                <li>1 tablespoon soy sauce</li>
                <li>1 tablespoon Chinese cooking wine or dry sherry</li>
                <li>1 tablespoon cornstarch</li>
                <li>1 tablespoon water</li>
                <li>1 tablespoon vegetable oil</li>
                <li>Salt and pepper, to taste</li>
                <li>Green onions, chopped for garnish</li>
            </ul>
        <h3>Instructions:</h3><br>
            <ol>
                <li>In a bowl, mix together the chicken pieces with the marinade ingredients. Let marinate for at least 30 minutes in the refrigerator.</li>
                <li>In a small bowl, mix together the soy sauce, Chinese cooking wine, cornstarch, and water. Set aside.</li>
                <li>Heat a wok or large skillet over high heat. Add the vegetable oil and swirl to coat the pan.</li>
                <li>Add the dried red chili peppers and stir-fry for about 30 seconds until fragrant.</li>
                <li>Add the chicken and stir-fry for about 3-4 minutes until browned and cooked through.</li>
                <li>Add the garlic and ginger and stir-fry for another 30 seconds.</li>
                <li>Add the roasted peanuts and stir-fry for another minute.</li>
                <li>Pour in the soy sauce mixture and stir-fry for another minute or until the sauce thickens.</li>
                <li>Season with salt and pepper to taste.</li>
                <li>Garnish with chopped green onions and serve hot with steamed rice.</li>
              </ol>         
                <p><b>Enjoy your delicious and authentic Chinese cuisine food item!</b></p>
            </div>
          </div>
    </body>
    <footer>
        <p>&copy; 2023 FoodAdventuresWorldwideWebsite. All rights reserved.</p>
        <p>Contact: info@foodadventureworldwidewebsite.com</p>
      </footer>
</html>