<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Link to main CSS for project -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/main.css') }}">
		<link rel="icon" href="{{ url_for('static', filename='/Images/Recipe_Cooking.png') }}" type="image/png">
    </head>
	<script>
		/*LOADING LOGO */
	  window.addEventListener("load", function () {
	  
	  const loader = document.querySelector(".loader");
	  
	  setTimeout(() => {
	  
	  loader.classList.add("hide");
	  
	  document.querySelector(".content").style.display = "block";
	  
	  },850);
	  });
	  </script>
    <title>Registration</title>
    <body>
		<div class="loader">
			<img src="{{ url_for('static', filename='Images/giphy.gif') }}" alt="loading" />    
		   </div>
        <div class="register">
        <h1><b>Fill in the details below to Register</b></h1>
	<form action="{{ url_for('registration') }}"  method="POST">
		<label for="fullname"><b>Full Name:</b></label>
		<input type="text" id="fullname" name="fullname" required><br><br>
		<label for="email"><b>Email:</b></label>
		<input type="email" id="email" name="email" required><br><br>
		<label for="username"><b>Username:</b></label>
		<input type="text" id="username" name="username" required><br><br>
		<label for="password"><b>Password:</b></label>
		<input type="password" id="password" name="password" required><br><br>
		<label for="confirm-password"><b>Confirm Password:</b></label>
		<input type="password" id="confirm-password" name="confirm-password" required><br><br>
		<input type="submit" value="Register">
	</form>
</div>
</body>
