<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/main.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/CSS/cuisine.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/slick/slick.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/slick/slick-theme.css') }}">
      <link rel="icon" href="{{ url_for('static', filename='/Images/Recipe_Cooking.png') }}" type="image/png">
  </head>
  <script>
    /*LOADING LOGO */
window.addEventListener("load", function () {

const loader = document.querySelector(".loader");

setTimeout(() => {

loader.classList.add("hide");

document.querySelector(".content").style.display = "block";

},850);

});
</script>
    <header>
      <div class="page-header" >
        <div class="title">
            <p> <b>Authentic Food Receipe Website </b></p>
        </div>
        <a id="menu-icon" class="menu-icon" onclick="onMenuClick()">
            <i class="fa fa-bars"></i>
        </a>
        <div class="socialtop">
        <div id="navigation-bar" class="nav-bar">
            <a href="{{ url_for('home') }}"><b> Home </b></a>
            <div class="dropdown">
                <a class="active" href="{{ url_for('cuisines') }}" class="dropbtn"><b> Cuisines </b> <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                  <a href="{{ url_for('indiancuisines') }}">Indian</a>
                  <a href="{{ url_for('mexicancuisines') }}">Mexican</a>
                  <a href="{{ url_for('italiancuisines') }}">Italian</a>
                  <a href="{{ url_for('chinesecuisines') }}">Chinese</a>
                  <a href="{{ url_for('japanesecuisines') }}">Japanese</a>
                  <a class="active" href="{{ url_for('thaicuisines') }}">Thai</a>
                  <a href="{{ url_for('greekcuisines') }}">Greek</a>
                </div>
              </div>
              <div class="dropdown">
                <a href="{{ url_for('dessertsmain') }}" class="dropbtn"><b> Desserts </b> <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="{{ url_for('indiandesserts') }}">Indian</a>
                    <a href="{{ url_for('italiandesserts') }}">Italian</a>
                    <a href="{{ url_for('thaidesserts') }}">Thai</a>
                    <a href="{{ url_for('mexicandesserts') }}">Mexican</a>
                </div>
              </div>
            <a href="{{ url_for('aboutus') }}"><b> About Us </b></a>
            <a href="{{ url_for('contact') }}"><b> Contact Us </b></a>
            <a href="{{ url_for('search') }}"><b> Search </b></a>
            <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
            <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
        </div>         
        </div>
    </div>
    <script src="{{ url_for('static', filename='Javascript/index.js') }}"></script>
    </header>
    <title>Thai Cuisine Pad Thai</title>
    <style>
      .slick-dots {
        margin-top: 2rem;
        margin-left: -3rem;
        }
        .slick-dots li button:before {
         color: #ff0000; /* Replace with your desired color */
            }

        /* Change the active dot color */
        .slick-dots li.slick-active button:before {
        color: #ffff; /* Replace with your desired color */
        }

        @media screen and (max-width: 850px) {
          .slick-dots {
        margin-top: 2rem;
        margin-left: 0rem;
        }
        }
    </style>
        <body>
          <div class="loader">
            <img src="{{ url_for('static', filename='Images/giphy.gif') }}" alt="loading" />    
         </div>
          <br><h2>Thai Cuisine</h2><br>
          <h3>Pad Thai Authentic Recipe is here</h3>      
          <section class="vertical-center slider">
            <div>
              <img src="{{ url_for('static', filename='Images/pad thai.jpg') }}" height="350px" width="600px">
            </div>
            <div>
              <img src="{{ url_for('static', filename='Images/Thai-Pad.jpg') }}" height="350px" width="600px">
            </div>
            <div>
              <img src="{{ url_for('static', filename='Images/Thai-Pad2.jpg') }}" height="350px" width="600px">
            </div>
            </section>          
          <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
          <script src="{{ url_for('static', filename='slick/slick.js') }}"></script>
          <script src="{{ url_for('static', filename='Javascript/cuisine.js') }}"></script>
            <div class="container1">
            <div class="cont">
              <h3>Ingredients required:</h3><br>
              <ul>
                <li>8 oz. rice noodles</li>
                <li>1/4 cup tamarind paste</li>
                <li>2 tablespoons fish sauce</li>
                <li>2 tablespoons brown sugar</li>
                <li>2 tablespoons vegetable oil</li>
                <li>3 cloves garlic, minced</li>
                <li>1/2 lb. boneless chicken breast, sliced into thin strips</li>
                <li>2 eggs, beaten</li>
                <li>1/4 cup roasted peanuts, chopped</li>
                <li>2 cups bean sprouts</li>
                <li>2 green onions, sliced</li>
                <li>1/4 cup fresh cilantro leaves</li>
            </ul>
              <h3>Instructions:</h3><br>
            <ol>
                <li>Soak the rice noodles in warm water for 15-20 minutes until softened. Drain and set aside.</li>
                <li>In a small bowl, whisk together the tamarind paste, fish sauce, and brown sugar until well combined.</li>
                <li>Heat the vegetable oil in a wok or large skillet over medium-high heat. Add the garlic and sauté for 1-2 minutes, or until fragrant.</li>
                <li>Add the chicken and stir-fry until it's cooked through and lightly browned.</li>
                <li>Push the chicken to one side of the pan and add the beaten eggs to the other side. Scramble the eggs until they're cooked through and then mix them with the chicken.</li>
                <li>Add the noodles to the pan and pour the tamarind mixture over them. Toss everything together until the noodles are coated in the sauce and heated through.</li>
                <li>Add the chopped peanuts, bean sprouts, and green onions to the pan and continue to stir-fry until everything is well combined and heated through.</li>
                <li>Garnish with fresh cilantro leaves and serve hot.</li>
              </ol>         
                <p><b>Enjoy your delicious and authentic Thai cuisine!</b></p>
            </div>
          </div>
          <footer>
            <p>&copy; 2023 FoodAdventuresWorldwideWebsite. All rights reserved.</p>
            <p>Contact: info@foodadventureworldwidewebsite.com</p>
          </footer>
    </body>
</html>